/* Variables */
:root {
    --primary: #3CC199;
    --secondary: white;
    --button: #f1c40f;
    --contrast: #34495e;
    --hoverBtn: #f39c12;
}
/* Reset */
body, p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Global Style */
body {
    background: #CAFFEF;
    overflow-x: hidden;
}

.btn {
    color: var(--contrast);
    background: var(--button);
    border-radius: 5px;
    padding: 1em 2em; 
}

.btn:hover {
    color: var(--secondary);
    background: var(--hoverBtn);
}
/* Font Styling */
body {
    /*font-family: 'Raleway', sans-serif; */
    font-family: 'Rubik', sans-serif;
    line-height: 200%;
}

h2, h3 {
    font-size: 1.2em;
}

h1 {
    font-size: 1.5em;
}

.project a:hover h4{
    color: darkslategray;
    background: orange;
}

/* INDEX HTML AND CORE STYLING */


/* Mobile Device */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.navbar {
    display: none;
}

.hamburger {
    background: var(--primary);
    width: 100%;
}

.hamburger button {
    grid-column: 1/2;
    list-style: none;
    padding: 0.5em 0;
    border-width: 0;
    background: var(--primary);
    color:var(--secondary);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    
}

.hamburger button:hover {
    background: var(--secondary);
    color:var(--primary);
}

.hamburger button img {
    width: 10%;
    text-align: left;
}

.nav {
    display: block;
    text-align: center;
    background: var(--primary);
    color: var(--secondary);
    padding: 1em;
}

.nav:hover {
    background: var(--secondary);
    color: var(--primary);
}

.dropdown-content {
    display: none;
}

.dropdown-content a {
    display: block;
}

.show {
    display: block;
}

.welcome {
    background: var(--primary);
}

.welcome-text {
    grid-column: 1/5;
    grid-row: 2;
    text-align: center;
    padding: 0;
    padding-bottom: 3em;
    color: var(--secondary);
}

.welcome-text p {
    margin-bottom: 2em;
}

.welcome-image {
    grid-column: 1/5;
    text-align: center;
    padding-top: 1em;
}

.welcome-image img {
    width: 100%;
}

.project {
    text-align: center;
    margin: 2em;
}

.project a h4 {
    padding: 1em 0;
    margin: 0;
    background: var(--button);
    color: var(--contrast);
}



.project a img {
    width: 100%;
    margin: 0;
}

.project-s {
    text-align: center;
    margin: 2em;
    grid-gap: 1em;
}

.project-s a h4 {
    padding: 1em 0;
    margin: 0;
    background: var(--button);
    color: var(--contrast);
}

.project-s a img {
    width: 100%;
}

.project-s a p {
    background: var(--button);
    color: var(--contrast);
    padding: inherit;
}

.project-btn {
    text-align: center;
    margin: 1em 2em;
}

.portofolio h2 {
    color: var(--contrast);
    text-align: center;
    padding 5em;
    margin-top: 2em;
}

.container {
    background: var(--primary);
    color: var(--secondary);
    text-align: center;
}

.container h1 {
    padding-top: 1em;
}
.container p {
    padding 2em 2em;
    padding-bottom: 2em;
}

.footer-text {
    grid-column: 2/5;
    padding-top: 3em;
    padding-bottom: 2em;
    text-align: center;
    color: white;
    background: var(--primary);
    margin-top: 4em
}

.container h1, p {
    padding: 0 2em;
}

.container h1 {
    padding-top: 1em;
}

/* END OF INDEX HTML AND CORE STYLING */

/* MYWORKS HTML */
.portofolio h2 {
    margin-bottom: 0.5em;
}
.work h1{
    margin: 3em 1em 1em 1em;
    text-align: center;
    color: var(--contrast);
}

.work-thumb {
    padding-bottom: 2em;
    text-align: center;
    margin: 2em;
}

.work-thumb a {
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
    background: var(--button);
    color: var(--contrast);
    padding: 0em 2em;
}

.work-thumb img {
    grid-column: 1/5;
    grid-row: 2;
    text-align: center;
    width: 100%;
    padding-bottom: 2em;
}

.work-thumb div {
    grid-column: 1/5;
    grid-row: 3;
}

.work-thumb div a h5, p {
    padding-bottom: 2em;
    text-align: center;
}

.work-thumb div a {
    background: var(--button);
    color: var(--contrast);
    margin: 0 2em;
    padding: 1em 3em;
    border-radius: 0.5em;
}

.work-thumb div a:hover {
    background: var(--hoverBtn);
    color: var(--secondary);
}

.work-thumb div p {
    color: var(--contrast);
}

/* END OF MY WORKS HTML */


/* ABOUT HTML */

.profile {
    text-align: center;
    padding: 2em;
    background: var(--primary);
    color: var(--secondary);
    
}

.profile img {
    width: 50%;
}

.about {
    padding: 2em;
}

.about h3 {
    text-align: center;
    color: var(--contrast);
}
.about p {
    text-align: justify;
    color: var(--contrast);
}

.skill {
    padding: 2em;
}

.skill-a {
    margin: 1em 2em;
}

.skill-a h3 {
    text-align: center;
    background: var(--button);
    padding: 1em 0;
}


.skill-a h3 {
    color: var(--contrast);
}

.skill-a p {
    color: var(--hoverBtn);
    text-align: center;
}

.social{
    padding: 2em;
    text-align: center;
}

.social a img {
    width: 10%;
    opacity: 0.5;
    padding: 0.2em;
}

.social a img:hover {
    opacity: 1;
}

/* END OF ABOUT HTML */


/* Case Study HTML */

.case-study {
    color: var(--contrast);
    padding: 1em 1em;
}

.case-study h1 {
    padding: inherit;
    text-align: center;
    color: var(--contrast);
    background: var(--button);
    margin: 0.5em;
}

.case-study div {
    text-align: center;
}

.case-study img {
    width: 90%;
    padding: inherit;
}

.case-study p {
    text-align: justify;
}

.case-study h3 {
    text-align: center;
    color: var(--contrast);
    background: var(--button);
    margin: 0.5em;
}

/* Small Tablet */
@media only screen and (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    
    .hamburger {
        display: block;
    }
    
    .navbar {
        display:none;
    }
    
    .welcome-image {
        width: 90%;
        grid-column: 2/4;
        padding-right: 2em;
    }
    .profile img {
        width: 40%;
    }
    
    .project-s a img {
        width: 100%;
    }
    
    .skill-a {
        margin: 1em 2em;
    }
    
}

@media only screen and (min-width: 583px) {
    .navbar {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }
    
    .navigation {
        background: var(--primary);
        padding: 1em;
        
    }
    
    .navigation a {
        color: var(--secondary);
        padding: 0;
    }
    
    .navigation:hover {
        background: var(--secondary);
        
    }
    
    .navigation:hover a {
        color: var(--primary);
    }
    
    .hamburger {
        display: none;
    }
    .profile img {
        width: 40%;
    }
    
    .social a img {
        width: 5%;
    }
    .project-s a img {
        width: 100%;
    }
}
/* Large Tablet & Laptop */
@media only screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
    
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    
    .welcome-text p {
        margin: 0;
        margin-bottom: 2em;
        text-align: left;
    }
    
    
    .welcome-image {
        margin-right: 4em;
    }
    
    .welcome-text {
        margin-left: 4em;
    }
    
    
    .project {
        margin: 2em 4em;
    }
    
    .container h1, p {
        margin: 1em 4em;
    }
    
    .project-s {
        margin: 2em 4em;
    }
    
    
    .project-btn {
        margin: 2em 4em;
    }
    
    .hamburger {
        display: none;
    }
    
    .nav {
        display: none;
    }
    
    header {
        background: var(--primary);
        padding: 0 4em;
    }
    .navbar {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }
    
    .navigation {
        background: var(--primary);
        padding: 1em;
        
    }
    
    .navigation a {
        color: var(--secondary);
        padding: 0;
    }
    
    .navigation:hover {
        background: var(--secondary);
        
    }
    
    .navigation:hover a {
        color: var(--primary);
    }
    
    .welcome-image {
        width: 100%;
        grid-column: 3/5;
        padding-right: 2em;
    }
    
    .welcome-text {
        grid-column: 1/3;
        grid-row: 1;
        text-align: left;
        padding-top: 4em;
    }
    
    
    .welcome-text p {
        padding: 0;
    }
    
    .work-thumb img {
        grid-column: 1/3;
        grid-row: 2;
        margin-top: 1em;
    }
    
    .work {
        margin: 2em;
    }
    
    .work-thumb div {
        grid-column: 3/5;
        grid-row: 2;
        text-align: left;
    }
    
    .work-thumb div p {
        margin: 1em 0;
        text-align: left;
        
    }
    
    .case-study {
        text-align: center;
    }
    
    .case-study img {
        width: 70%;
    }
    
    .case-study h1  {
        margin: 1em 2em;
    }
    
    .case-study h3  {
        margin: 1em 2em;
    }
    
    .profile img {
        width: 30%;
    }
    
    .social a img {
        width: 5%;
    }
    
    .skill-a {
        margin: 1em 4em;
    }
    
}


@media only screen and (min-width: 856px) {
    .work {
        margin: 2em;
    }
    
    .navigation {
        padding: 1em 0.5em
    }
    
    .work-thumb img {
        
        width: 2fr;
    }
    
    .case-study {
        text-align: center;
    }
    
    .case-study img {
        width: 60%;
    }
    .profile img {
        width: 25%;
    }
    .social a img {
        width: 4%;
    }
}
/* Desktop & Larger device */
@media only screen and (min-width: 992px) {
    body {
        font-size: 20px;
    }
    
    .welcome-text p {
        margin-left: 0;
        margin-bottom: 2em;
        text-align: left;
    }
    
    .welcome-text {
        margin-left: 6em;
    }
    
    .welcome-image {
        margin-right: 6em;
    }
    
    
    .project {
        margin: 2em 6em;
    }
    
    .project a {
        margin: 0;
    }
    
    .container h1, p {
        margin: 1em 6em;
    }
    
    .project-s {
        margin: 2em 6em;
    }
    
    .project-btn {
        margin: 2em 6em;
    }
    
    .hamburger {
        display: none;
    }
    
    .nav {
        display: none;
    }
    
    header {
        background: var(--primary);
        padding: 0 6em;
    }
    .navbar {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }
    
    .navigation {
        background: var(--primary);
        padding: 1em 0.5em;
        
    }
    
    .navigation a {
        color: var(--secondary);
        padding: 1em 1em;
    }
    
    .navigation:hover {
        background: var(--secondary);
        
    }
    
    .navigation:hover a {
        color: var(--primary);
    }
    
    .work {
        margin: 4em;
    }
    
    
    .work-thumb img {
        grid-column: 1/2;
        grid-row: 2;
        margin-top: 1em;
    }
    
    .work-thumb div {
        grid-column: 2/5;
        grid-row: 2;
        text-align: left;
    }
    
    .case-study {
        text-align: center;
    }
    
    .case-study img {
        width: 40%;
    }
    
    .case-study h1  {
        margin: 1em 6em;
    }
    
    .case-study h3  {
        margin: 1em 6em;
    }
    
    .profile img {
        width: 20%;
    }
    
    .skill-a {
        margin: 1em 6em;
    }
    
    .social a img {
        width: 3%;
    }
}